node_modules
yarn.lock
LICENSE.md
README.md
.babelrc
test
target
whitespaceRulesreact
react
rulles
packages
linters
images
external
.csv
rules
css-in-javascript
.vscode
.editorconfig
.github
.gitignore
CHANGELOG.md
package.json
/extract 
extract/.*
utilities.js
mhrice.json
backup.js
setBuilderWorker.js
setCreation.js
json/armorHR
node_modules
# .eslintrc.cjs
# .hintrc
# .jshintrc
.json
# .prettierrc.json
cspell.json
jsconfig.json
package-lock.json
playground.js
postcss.config.cjs
workspace.code-workspace
.cspell/custom-dictionary-workspace.txt
css/new.css
index_files/new.css
index_files/playground.js.download
index_files/setCreation.js.download
Stone_s Sunbreak Damage Optimizer_files/backup.js.download
Stone_s Sunbreak Damage Optimizer_files/index.css
Stone_s Sunbreak Damage Optimizer_files/new.css
Stone_s Sunbreak Damage Optimizer_files/playground.js.download
Stone_s Sunbreak Damage Optimizer_files/setCreation.js.download
Stone_s Sunbreak Damage Optimizer_files/utilities.js.download
.eslintrc.json
qurious.js
json/cd
.jshintrc
.hintrc
.prettierrc.json
babelrc
*.cjs
wallaby.js
.*.map
/srcfiles
temp.js
/maps
/utility
mhrice.json
