node_modules
yarn.lock
LICENSE.md
README.md
.babelrc
target
whitespaceRulesreact
react
rulles
packages
linters
images
external
.csv
rules
css-in-javascript
.vscode
.editorconfig
.github
.gitignore
CHANGELOG.md
package.json
/extract 
extract/.*
utilities.js
mhrice.json
backup.js
setBuilderWorker.js
setCreation.js
json/armorHR
node_modules
.eslintrc.cjs
# .hintrc
# .jshintrc
.prettierrc.json
cspell.json
jsconfig.json
package-lock.json
playground.js
postcss.config.cjs
workspace.code-workspace
.cspell/custom-dictionary-workspace.txt
css/new.css
index_files/new.css
index_files/playground.js.download
index_files/setCreation.js.download
Stone_s Sunbreak Damage Optimizer_files/backup.js.download
Stone_s Sunbreak Damage Optimizer_files/index.css
Stone_s Sunbreak Damage Optimizer_files/new.css
Stone_s Sunbreak Damage Optimizer_files/playground.js.download
Stone_s Sunbreak Damage Optimizer_files/setCreation.js.download
Stone_s Sunbreak Damage Optimizer_files/utilities.js.download
qurious.js
json/cd
.jshintrc
.hintrc
babelrc
*.cjs
.map
test.js
/srcfiles
temp.js
/maps
/utility
mhrice.json
*.map
.mocharc.json
*.xml
coverage/coverage-final.json
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov.info
quokka.json
viet.config.js
wallaby.js
