@media only screen and (max-width: 0px) {
    div#containAll>div#statsTable {
        grid-area: 4/1;
    }
    /* .contain { */
    /* overflow-y: auto; */
    /* } */
    button#resetSkills {
        grid-area: 2/1/2;
    }
    * {
        min-height: fit-content;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        border: none;
        align-items: baseline;
        max-width: 100vw;
    }
    .contain {
        max-width: 107%;
    }
    /* h1>div>label { */
    /* grid-template-columns: auto auto auto; */
    /* } */
    button#Qurious {
        grid-area: 1 / 2 / 2 / 3;
        margin-left: 4%;
        width: max-content;
    }
    div#license {
        display: grid;
        grid-area: 10 / 1 / 10 / 3;
    }
    #forButtons,
    div.containAll,
    div#containAll>div {
        min-width: 98vw;
        /* max-width: 98vw; */
        min-height: fit-content;
        overflow: auto;
        /* grid-area: 3 / 1 / 1 / -1; */
    }
    .title {
        grid-area: 1/1/2/4;
        min-height: max-content;
        min-width: max-content;
    }
    div#divComboAttacks {
        width: 10vw;
        min-height: 50em;
        max-height: 133vh;
        grid-area: 2 / 2 / 3 / 3;
    }
    div#discord {
        grid-area: 1 / 1 / 1 / -1;
        justify-content: flex-start;
        top: 0.58rem;
        position: relative;
    }
}

@media only screen and (min-width: 1000px) {
    section1.contain {
        grid-auto-rows: 3.3em 11em 12em;
    }
    div#containAll.shotp {
        grid-template-columns: 48% 4% 48%;
    }
    div#containAll {
        width: 98vw;
        display: grid;
        gap: 0.6em;
        grid-template-columns: 40vw 14vw 41vw;
        align-items: baseline;
    }
    section#section2 {
        grid-area: 1 / 3 / 1 / 4;
        min-height: 71.5em;
        min-width: 41vw;
        max-width: 41vw;
        justify-items: center;
        height: -webkit-fill-available;
    }
    button#Qurious {
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
    }
    th#dpsHead {
        max-height: 5em;
    }
    th {
        min-height: 1.8em;
    }
    #section1.contain {
        min-width: 40vw;
        max-width: 40vw;
        grid-area: 1 / 1 / 2 / 2;
    }
    #section1.HeavyBowGun,
    #section2.HeavyBowGun,
    #section1.LightBowGun,
    #section2.LightBowGun {
        justify-content: start;
        min-width: 48vw;
        max-width: 48vw;
    }
    .title {
        grid-area: 1 / 1 / 2 / -1;
    }
    body {
        grid-template-columns: 1vw 48vw 1vw 48vw 1vw;
        display: grid;
    }
    div#license {
        margin: 1em;
        display: grid;
        grid-area: 8 / 1 / 8 / 6;
    }
    @media (hover) {
        button.augButton:hover,
        button.inputButton:hover {
            color: rgb(252, 252, 252);
            z-index: 20;
            font-weight: 900;
            background-color: rgba(11, 16, 42, 0.74);
        }
    }
}

* {
    font-size: clamp(20px, 1vw, 1.15rem);
    min-height: fit-content;
}

.contain {
    overflow-x: visible;
}

label.scroll.vis {
    background-color: transparent;
}

div.double {
    grid-template-columns: 56% 44%;
}

label.weaponFilter {
    pointer-events: all;
    text-align: left;
    padding-left: 15px;
    grid-area: 1 / 1 / auto / auto;
    width: 79%;
    border-style: ridge;
    border-width: 0.25em;
}

#damageContainer>table>thead {
    position: sticky;
    top: 0px;
    display: table-header-group;
    z-index: 20;
    min-block-size: auto;
    min-height: 3em;
}

select {
    width: 100%;
}

#ammoBody>tr>td,
.cell {
    min-height: 1.9em;
    -webkit-text-stroke-width: thin;
    padding-top: 0.25em;
}

#statsBody>tr>td {
    width: 100%;
}

#statsHead>tr,
#statsBody>tr {
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr;
    grid-area: 1 / 1 / 2 / -1;
}

#ammoHead>tr,
#ammoHead,
#ammoBody>tr,
.tableRowRanged {
    display: grid;
    grid-template-columns: 2.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-area: 1 / 1 / 2 / -1;
    max-height: max-content;
}

.rangedContainer>#dpsHead,
#dpsTable>th.tableRowRanged,
#dpsBody>tr.tableRowRanged,
#dpsHead>tr.tableRowRanged,
#ammoTable>tr.tableRowRanged {
    /* display: flex; */
    grid-area: 1 / 1 / 2 / -1;
    min-height: max-content;
}

.meleeContainer>#dpsHead,
#dpsTable>th.tableRowMelee,
#dpsBody>tr.tableRowMelee,
#dpsHead>tr.tableRowMelee {
    display: grid;
    grid-template-columns: 0.9fr 4.2fr 0.75fr 1.2fr 0.8fr 1.2fr 0.9fr;
    grid-area: 1 / 1 / 2 / -1;
}

#monTable>th.tableRow,
#monTable>tr.tableRow {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

output.label {
    pointer-events: none;
    position: relative;
    color: rgb(255, 255, 255);
    min-height: 1.32rem;
    z-index: 5;
    width: 100%;
    display: grid;
    border: none;
    grid-area: 1 / 1 / 2 / 3;
}

.augDiv>output.augLabel {
    grid-area: 1 / 1 / 2 / -1;
    text-align: start;
    z-index: 5;
    height: 2.1em;
    left: 1em;
    background-color: rgba(0, 0, 0, 0);
}

.augDiv>output.label:not(.augLabel) {
    grid-area: 1 / 1 / 2 / 3;
    text-align: end;
    right: 1em;
    height: 2.1em;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0);
}

div.augDiv,
div.inputContainer {
    top: 0px;
    position: relative;
    grid-template-columns: 1fr 1fr;
    height: 2.1em;
    display: grid;
    color: rgb(255, 255, 255);
    z-index: 15;
}

button {
    border-style: outset;
    border-width: 0.2em;
    border-color: rgb(73, 145, 2);
}

button.augButton,
button.inputButton {
    top: 0px;
    pointer-events: auto;
    background-color: rgba(11, 11, 42, 0.63);
    color: rgba(205, 0, 0, 0);
    z-index: 5;
    border: none;
    min-height: 1.2em;
}

button.augButton:active,
button.inputButton:active {
    color: rgb(252, 252, 252);
    z-index: 20;
    font-weight: 900;
    background-color: rgba(11, 16, 42, 0.74);
}

button.dec {
    left: 0px;
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
}

.inputButton {
    position: absolute;
    width: 50%;
    height: 100%;
}

button.inc {
    right: 0px;
    border-left: none;
    grid-area: 1 / 2 / 2 / 3;
}

input#taWikiSetBuilder {
    height: 2em;
    grid-area: 2 / 1 / 2 / 4;
    align-content: flex-start;
    background-color: rgb(64, 58, 58);
    display: grid;
}

div#statsTableDiv {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    align-items: stretch;
}

#weaponSelect>div:nth-child(3) {
    grid-area: 1 / 2 / 2 / 3;
}

section#section2 {
    display: grid;
    gap: 0.6rem;
}

html div {
    display: grid;
}

#WeaponSelects>div:nth-child(3) {
    grid-area: 2 / 1 / 2 / 3;
    gap: 0.6em;
    grid-template-columns: 1fr 1fr;
}

#WeaponSelects>div:nth-child(4) {
    grid-area: 3 / 1 / 4 / 2;
}

#WeaponSelects>div.augToggle.augVis>div:nth-child(2) {
    grid-area: 1 / 1 / 2 / 2;
}

#WeaponSelects>div.augToggle.augVis>div:nth-child(3) {
    grid-area: 1 / 2 / 3 / 3;
}

div#containAll {
    display: grid;
    grid-area: 2 / 2 / 5 / 3;
    min-height: max-content;
}

#raw>div:nth-child(41) {
    grid-area: 7 / 2 / auto / auto;
}

#section1>div:nth-child(2)>div:nth-child(n + 1):has(button) {
    width: 80%;
    position: relative;
    left: 10%;
}

#section1>div:nth-child(2)>div {
    max-height: 11.5em;
}

section#section1.contain>div {
    display: grid;
    min-width: fit-content;
}

section#section1.contain {
    align-items: start;
    align-content: start;
    min-height: max-content;
    max-height: 88em;
    /* grid-auto-rows: 3.3em 11em 12em; */
    grid-template-columns: repeat(5, 1fr);
}

div#BowGunId,
div.uniqueBow {
    grid-area: 1 / 2 / auto / auto;
}

div#weaponSelect.contain {
    grid-template-columns: 1fr 0.8fr;
    grid-area: 2 / 1 / 3 / 6;
    display: grid;
    gap: 0.5rem;
    align-content: space-evenly;
    align-items: stretch;
}

.contain {
    gap: 0.45rem;
    display: grid;
    box-sizing: border-box;
}

body {
    display: grid;
    color: rgb(3, 3, 3);
    background-image: repeating-linear-gradient(167deg, rgba(0, 0, 0, 0.95) 57%, rgba(57, 0, 0, 0.58) 57%, rgb(0, 0, 0) 65%), repeating-linear-gradient(198deg, rgba(255, 0, 0, 0.52) 64%, rgba(1, 1, 2, 0.97) 65%, rgb(0, 0, 0) 70%);
    background-size: 262%;
    min-height: max-content;
    text-align: center;
    width: 100vw;
    gap: 0.6rem;
    image-rendering: -webkit-optimize-contrast;
    border-spacing: 0px;
    align-content: center;
}

#comboCountDisplay {
    z-index: 55;
    min-height: max-content;
    background-color: rgb(0, 14, 94);
    align-items: start;
    align-content: start;
}

#comboCountContainer {
    min-width: min-content;
    max-height: 70em;
    width: 14.5vw;
    margin: 0px;
    display: grid;
    overflow: hidden;
    gap: 0px;
    align-content: start;
}

div#divComboAttacks {
    max-height: 550px;
    overflow: auto;
}

div#sharpnessContainer {
    background-color: rgb(157, 0, 0);
    border-style: ridge;
    border-width: 5px;
    max-width: 50%;
    min-width: 46%;
    height: fit-content;
    width: min-content;
    display: grid;
    grid-area: 5 / 1 / 6 / -1;
    column-gap: 0px;
    grid-template-columns: repeat(6, auto);
    justify-self: center;
    justify-content: start;
}

div.sharpness {
    grid-row: 1 / 2;
    color: black;
    padding: 0px;
    font-weight: 700;
    min-width: fit-content;
}

div#red.sharpness {
    color: white;
}

div#blue {
    color: white;
}

div#monContainer.contain {
    grid-area: 3 / 1 / 10 / auto;
    display: grid;
    grid-template-columns: repeat(7, auto);
    place-items: stretch;
    justify-content: center;
    overflow: auto;
}

div#monTableContainer {
    grid-area: 3 / 1 / 4 / auto;
    overflow: auto;
    display: grid;
    max-height: 13.5em;
}

div#damageContainer.meleeContainer {
    max-height: 43.3em;
    overflow-y: scroll;
    display: grid;
    width: 100%;
}

.rangedTable>tr>td.a {
    background-color: rgb(11, 11, 42);
    min-width: fit-content;
}

.meleeTable>tr>.b {
    background-color: rgba(11, 11, 42, 0);
    position: relative;
}

input.inputs,
input#inputComboRepeat {
    background-color: rgba(211, 211, 211, 0.37);
    color: rgb(6, 6, 24);
}

#monDropDowns>div:nth-child(3)>div>label:nth-child(1),
#monDropDowns>div:nth-child(3)>div>label:nth-child(3) {
    background-color: rgb(12, 26, 105);
}

#monDropDowns>div:nth-child(3)>div>label:nth-child(1),
#monDropDowns>div:nth-child(3)>div>label:nth-child(3),
select#MR,
select#HR {
    z-index: 50;
    width: 100%;
}

tbody.meleeTable>tr:nth-child(1) {
    position: sticky;
    top: 1.89em;
    z-index: 20;
    opacity: 100;
    border-spacing: 0px;
    background-color: rgb(55, 65, 103);
}

tbody.meleeTable.a.rangedTable>tr>td:nth-child(2) {
    width: 16.5rem;
}

div#html {
    display: grid;
    overflow: hidden;
    align-items: start;
    gap: 1rem;
    height: 100vh;
}

#forButtons {
    gap: 1em;
    justify-items: center;
    /* max-width: 100vw; */
}

div#forButtonSelect>div:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}

div#forButtonSelect>div:nth-child(1) {
    grid-area: 1 / 2 / auto / auto;
}

div#forButtonSelect {
    gap: 1.25rem;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-area: 5 / 1 / auto / auto;
}

button#resetCombo {
    grid-area: 1 / 4 / 2 / 5;
}

button#resetSkills {
    grid-area: 1 / 3 / 2 / 4;
}

#dpsTable {
    overflow: auto;
    block-size: auto;
    min-width: fit-content;
}

button.gray {
    background-color: rgb(77, 58, 58);
    color: white;
}

button.blue {
    background-color: rgb(12, 26, 105);
    color: white;
}

button#questButton {
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
}

div>button.toggle:hover {
    background-color: rgb(6, 6, 24);
    color: rgb(167, 170, 192);
}

output#enrageDisplay,
div>select,
select#dropMonster,
#statsTable>tr>th,
tr>th {
    min-height: fit-content;
    top: 0px;
    position: sticky;
    margin: 0px;
    height: 1.8em;
    display: grid;
    place-content: center;
    justify-items: stretch;
    border-style: outset;
    background-color: rgb(18, 18, 51);
    border-spacing: 0px;
    z-index: 50;
}

output.comboHits {
    display: inline-table;
    height: fit-content;
}

tr>th {
    min-height: fit-content;
    min-height: 3em;
}

td {
    border-width: 2px;
    border-style: ridge;
}

table#ammoTable * {
    border-spacing: 0px;
    gap: 0px;
    margin: 0px;
    overflow: auto;
}

#ammoHead>tr {
    min-height: 3em;
}

th {
    min-height: 3em;
}

output.comboAttack {
    border-color: rgb(77, 67, 69);
    border-style: ridge;
    border-width: 0.07rem;
    border-collapse: collapse;
    background-color: rgba(11, 11, 42, 0.796);
}

#ammoChange {
    grid-area: 1 / 2 / 2 / 3;
}

label.Booster {
    grid-area: 4 / 2 / 5 / 3;
}

label.Butterflame {
    grid-area: 5 / 2 / auto / auto;
}

label.Palico\ Affinity {
    grid-area: 3 / 3 / 4 / 4;
}

label.WaterBlight {
    grid-area: 5 / 3 / auto / auto;
}

label.Demon\ Seed {
    grid-area: 2 / 2 / auto / auto;
}

label.Power\ Charm {
    grid-area: 5 / 1 / auto / auto;
}

label.DemonAmmo {
    grid-area: 4 / 3 / auto / auto;
}

label.MegaDemonDrug {
    grid-area: 3 / 1 / 4 / 2;
}

label.Booster {
    grid-area: 4 / 2 / 5 / 3;
}

label.huntingHornAffinity {
    grid-area: 3 / 4 / 4 / 5;
}

label.huntingHornElemental {
    grid-area: 4 / 4 / auto / auto;
}

label.huntingHornAttack {
    grid-area: 2 / 4 / auto / auto;
}

label.sleepWakeUp {
    grid-area: 5 / 4 / auto / auto;
}

label.palicoAffinity {
    grid-area: 4 / 3 / auto / auto;
}

label.Demon\ Seed {
    grid-area: 2 / 2 / auto / auto;
}

label.Demon\ Powder {
    grid-area: 3 / 2 / auto / auto;
}

label.DemonDrug {
    grid-area: 2 / 1 / 3 / 2;
}

button#Power\ Talisman {
    grid-area: 3 / 1 / 5 / 2;
}

#monTable {
    border: none;
    overflow: auto;
    display: table-cell;
    border-spacing: 0px;
}

tr:nth-child(2n) {
    background-color: rgba(77, 58, 58, 0.67);
}

tr:nth-child(2n + 1) {
    background-color: rgba(77, 83, 126, 0.67);
}

.rangedTable td:nth-child(1) {
    background-color: rgb(11, 11, 42);
}

.rangedTable th:nth-child(n + 1) {
    background-color: rgb(11, 11, 42);
    min-width: fit-content;
    max-width: 2rem;
}

table#statsTable {
    gap: 0px;
    border-spacing: 0px;
    display: grid;
    grid-area: 1 / 1 / 2 / 4;
    height: fit-content;
    max-height: fit-content;
    align-content: baseline;
    width: auto;
}

#statsTable>tr:nth-child(n + 2)>td:nth-child(1) {
    border-style: outset;
    background-color: rgb(7, 4, 69);
    min-width: fit-content;
}

#monTable>tr:nth-child(1)>th:nth-child(1) {
    min-width: fit-content;
}

td.a {
    padding: 0px;
    height: -webkit-fill-available;
    grid-area: 1 / 1 / auto / auto;
}

output {
    width: 100%;
    background-color: rgba(5, 3, 39, 0.373);
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-width: 0.15rem 0.15rem 0.15rem 0px;
    border-left-style: initial;
    border-left-color: initial;
    align-items: center;
}

td {
    color: rgb(255, 255, 255);
    border-style: outset;
}

.a.rangedTable {
    border-style: outset;
    background-color: rgb(11, 11, 42);
}

div#monDropDowns>div {
    min-width: fit-content;
    width: 105%;
}

div#monDropDowns {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    align-items: start;
    gap: 1em;
}

div#damageContainer {
    overflow: auto;
    grid-area: 6 / 1 / 7 / auto;
    gap: 0.6em;
    max-height: 43em;
}

.b.meleeTable {
    border-style: outset;
    background-color: rgb(11, 11, 42);
}

div#statsTableDiv>table#statsTable>tbody#statsBody>tr>td:first-child {
    background-color: rgb(11, 11, 42);
}

output#enrageDisplay {
    display: grid;
    align-content: space-around;
}

div#monDropDowns>select {
    height: 100%;
}

div#scrollDiv {
    top: -108%;
    position: relative;
    display: grid;
    z-index: 80;
    grid-template-columns: 100% 100%;
}

label#dropDerelection {
    grid-area: 1 / 1 / auto / auto;
    background-image: url('scrolls.webp');
}

div#monDropDowns>div {
    display: grid;
    align-items: stretch;
    overflow: visible;
    max-height: 3.35em;
}

label {
    min-width: max-content;
}

div#divMR {
    display: grid;
    top: 50%;
}

div#divHR {
    z-index: 80;
    position: relative;
    display: grid;
    top: 50%;
}

div#divMR {
    z-index: 80;
    position: relative;
}

div,
input,
select,
label,
* {
    text-align: center;
    gap: 0;
    border-color: rgb(77, 67, 69);
    color: white;
    box-sizing: border-box;
}

div#comboCountDisplay {
    overflow: auto;
    max-height: 65.5em;
    display: inline-grid;
}

label {}

#monTable>tr:nth-child(1) {
    position: sticky;
    top: 0px;
}

.inputs {
    color: midnightblue;
    background-color: rgba(27, 25, 94, 0.71);
}

table#monTable {
    border-color: rgb(77, 67, 69);
    margin: 0px;
    display: inline-table;
    grid-area: 3 / 1 / 4 / auto;
}

#boxes {
    max-width: 100vw;
    overflow: auto;
    min-height: fit-content;
}

#boxes>div:nth-child(n+1) {
    display: grid;
    gap: 0.25rem;
}

label.row1span2 {
    width: 100%;
    grid-area: 1 / 1 / 2 / 3;
}

div#divEnrage {
    display: grid;
    grid-area: 1 / 5 / auto / 5;
    align-items: center;
    align-content: center;
    margin: 0px;
    gap: 0px;
}

div#forWeaponSelects,
div.augToggle.vis {
    gap: 0.2rem;
    display: grid;
    grid-area: 1 / 1 / 5 / auto;
}

#monContainer>div>div:nth-child(2) {
    grid-column: 3 / auto;
}

#monContainer>div:nth-child(2) {
    display: grid;
    grid-area: 3 / 2 / auto / 3;
}

select#dropEnraged {
    grid-area: 2 / 1 / 3 / 2;
    border-right: 0px;
}

div#setBonus.contain {
    grid-area: 8 / 4 / 11 / 6;
    grid-template-columns: repeat(2, 1fr);
}

div#dango.contain {
    grid-area: 1 / 1 / 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div#raw.contain {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-area: 4 / 1 / 5 / 6;
    grid-template-rows: 3.1em repeat(6, 3.3em) 2.1em 3.3em 3.3em 2.1em 3.3em 3.3em;
    border-style: none;
    padding: 0%;
    min-height: max-content;
    gap: 0.6em;
}

div#boxes.contain {
    display: grid;
    grid-area: 3 / 1 / 4 / 6;
}

div#aff.contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-style: none;
    grid-area: 8 / 1 / 11 / 3;
    justify-items: stretch;
}

div#ele.contain {
    display: grid;
    grid-area: 8 / 3 / 10 / 4;
    align-items: center;
    align-content: center;
}

#weaponSelect>div:nth-child(4)>div>div:nth-child(3) {
    grid-column: 2 / 2;
}

#monContainer>div:nth-child(4) {
    grid-area: 3 / 5 / 4 / 6;
}

#monContainer>div:nth-child(5) {
    grid-area: 3 / 6 / auto / 7;
}

#monContainer>div:nth-child(3) {
    grid-area: 3 / 3 / auto / 5;
    margin: 0px;
}

#MonsterSelect>div>div:nth-child(1) {
    display: grid;
    grid-column: 1 / auto;
}

select.skill:enabled {
    text-align: center;
    justify-self: center;
    /* min-width: 100%; */
    height: 1.8em;
}

select.skill:focus {
    z-index: 100;
    text-align: center;
    margin: auto;
    justify-content: center;
    justify-self: center;
    min-width: 100%;
    width: fit-content;
}

select>option {
    background-color: rgb(5, 5, 35);
    border-style: none;
}

#dpsTable {
    display: table;
}

#enrageDisplay {
    background-color: rgba(11, 11, 42, 0.38);
    border-style: outset;
}

#discord>a>img {
    height: 1.8rem;
}

h1.title {
    height: 2.3rem;
}

h1 {
    height: 1.6em;
    text-align: center;
    width: 35%;
    justify-self: center;
    min-width: max-content;
    padding-right: 1em;
    padding-left: 1em;
    box-sizing: border-box;
    margin: 0.25rem 0in;
    grid-area: 1 / 1 / 2 / -1;
    background-color: rgb(0, 14, 94);
    border-style: outset;
    color: white;
}

#ele>h1 {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

h1.combo {
    min-width: max-content;
}

.sharpnessdropDown {
    display: none;
}

select {
    background-color: rgba(5, 3, 39, 0.373);
    border-style: outset;
    border-width: 0.15rem;
    display: block;
}

section#section1>div#raw:nth-child(n+1) {
    width: 100%;
}

#raw>div:nth-child(30) {
    grid-area: 7 / 5 / 8 / 6;
}

label {
    border-style: outset;
    pointer-events: none;
    background-color: rgba(12, 26, 105, 0.85);
}

h1>div>label {
    width: 75%;
}

#weaponSelect>div:nth-child(4)>label {
    grid-column: 1 / -1;
}

#boxes>label:nth-child(7) {
    grid-area: 3 / 3 / auto / auto;
}

#MonsterSelect>label:nth-child(5) {
    grid-area: 4 / 1 / auto / auto;
}

parent#shieldChargeIMPid {
    grid-column: 2 / 3;
}

#monTable td:nth-child(1) {
    border-style: outset;
    background-color: rgba(11, 11, 42, 0.686);
}

.S:nth-child(2),
.S:nth-child(3),
.S:nth-child(4) {
    background-color: rgb(234, 88, 12);
    color: rgb(0, 0, 0);
}

.A:nth-child(2),
.A:nth-child(3),
.A:nth-child(4) {
    background-color: rgb(249, 115, 22);
    color: rgb(24, 23, 23);
}

.B:nth-child(2),
.B:nth-child(3),
.B:nth-child(4) {
    background-color: rgb(251, 146, 60);
    color: rgb(54, 54, 54);
}

.C:nth-child(2),
.C:nth-child(3),
.C:nth-child(4) {
    background-color: rgb(253, 186, 116);
    color: rgb(134, 134, 134);
}

.F:nth-child(2),
.F:nth-child(3),
.F:nth-child(4) {
    background-color: rgb(254, 215, 170);
    color: rgb(162, 162, 162);
}

.A:nth-child(5),
.B:nth-child(5) {
    background-color: rgb(153, 27, 27);
    color: rgb(252, 252, 252);
}

.C:nth-child(5) {
    background-color: rgb(239, 68, 68);
    color: rgb(224, 224, 224);
}

.F:nth-child(5) {
    background-color: rgb(248, 113, 113);
    color: rgb(94, 94, 94);
}

.A:nth-child(6),
.B:nth-child(6) {
    background-color: rgb(29, 78, 216);
    color: rgb(248, 248, 248);
}

.C:nth-child(6) {
    background-color: rgb(37, 99, 235);
    color: rgb(216, 216, 216);
}

.F:nth-child(6) {
    background-color: rgb(59, 130, 246);
    color: rgb(48, 48, 48);
}

.A:nth-child(7),
.B:nth-child(7) {
    background-color: rgb(250, 204, 21);
    color: rgb(7, 7, 7);
}

.C:nth-child(7) {
    background-color: rgb(253, 224, 71);
    color: rgb(23, 22, 22);
}

.F:nth-child(7) {
    background-color: rgb(254, 249, 195);
    color: rgb(94, 94, 94);
}

.A:nth-child(8),
.B:nth-child(8) {
    background-color: rgb(2, 132, 199);
    color: rgb(0, 0, 0);
}

.C:nth-child(8) {
    background-color: rgb(14, 165, 233);
    color: rgb(23, 22, 22);
}

.F:nth-child(8) {
    background-color: rgb(56, 189, 248);
    color: rgb(94, 94, 94);
}

.A:nth-child(9),
.B:nth-child(9) {
    background-color: rgb(91, 33, 182);
    color: rgb(255, 255, 255);
}

.C:nth-child(9) {
    background-color: rgb(124, 58, 237);
    color: rgb(209, 208, 208);
}

.F:nth-child(9) {
    background-color: rgb(139, 92, 246);
    color: rgb(173, 173, 173);
}

select#weaponRampage0 {
    grid-column: 1 / auto;
}

select#weaponRampage1 {
    grid-column: 2 / 3;
}

select#weaponRampage2 {
    grid-column: 1 / auto;
}

select#weaponRampage3 {
    grid-column: 2 / 3;
}

select#weaponRampage4 {
    grid-column: 1 / auto;
}

select#weaponRampage5 {
    grid-column: 2 / 3;
}

@media not all {
    tbody#dpsBody.meleeTable>tr {
        height: 27px;
    }
}

div#forButtons button {
    min-width: max-content;
    gap: 0.5rem;
    overflow-y: auto;
}

button#Save\ State {
    grid-area: 1 / 1 / auto / auto;
}

::-webkit-scrollbar {
    background-color: blueviolet;
}

::-webkit-scrollbar-track {
    background: rgb(19, 19, 19);
}

::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 70);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 21, 21);
}

select#dropQuest {
    pointer-events: none;
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
}

label,
input {
    max-height: 30px;
    margin: 0px;
    display: grid;
}

#WeaponSelects {
    grid-template-columns: 1fr 1fr;
}

#WeaponSelects>div:nth-child(3) {
    grid-template-columns: 1fr 1fr;
}

#WeaponSelects>label,
#boxes>label {
    display: grid;
    grid-template-columns: 87% 0%;
    padding-right: 0.25em;
    padding-left: 0.5em;
    pointer-events: all;
    min-width: max-content;
    height: 1.7em;
    align-items: center;
    justify-content: center;
}

input#weaponFilter,
input.check {
    position: relative;
    grid-area: 1 / 3 / 2 / 3;
    display: grid;
    z-index: 50;
    height: 95%;
    width: 2em;
}

#monDropDowns>div:nth-child(3)>label {
    grid-area: 1 / 1 / auto / auto;
}

#dpsHead>tr.tableRowRanged>th:nth-child(n+1) {
    height: 3em;
    /* width: 10.59%; */
}

.rangedTable td:nth-child(1) {
    display: inline-table;
    min-width: max-content;
}

.rangedTable td:nth-child(n+2) {
    min-width: max-content;
    /* width: 4.7em; */
}

.augDiv>label {
    grid-area: 1 / 1 / 2 / 3;
    z-index: 5;
    height: 2.1em;
}

#boxes>h1 {
    grid-area: 1 / 1 / 2 / 5;
}

div.menu {
    z-index: 80;
    display: grid;
    overflow: visible;
    grid-area: 1 / 1 / 2 / 2;
}

#redScroll {}

div>.vis:hover {
    background: rgb(245, 245, 245);
    border-radius: 75%;
}

.scroll {
    border: none;
}

div>.augVis,
div>.vis {
    display: grid;
    gap: 0.7rem;
}

div>.augInvis,
div>.invis {
    display: none;
}

div#raw>div#unique.LongSword {
    grid-area: 11 / 3 / 13 / 6;
    grid-template-columns: repeat(3, 1fr);
}

div#raw>div#unique.DualBlades {
    grid-area: 11 / 3 / 13 / 6;
    grid-template-columns: repeat(3, 1fr);
}

div#unique.Bow,
div#unique.LightBowGun,
div#unique.GreatSword,
div#unique.ChargeBlade {
    grid-area: 11 / 4 / 14 / 6;
    grid-template-columns: repeat(2, 1fr);
}

div#unique.Lance,
div#unique.InsectGlaive {
    grid-area: 11 / 4 / 13 / 5;
    grid-template-columns: repeat(1, 1fr);
}

div#unique.Gunlance,
div#unique.SwitchAxe,
div#unique.HuntingHorn,
div#unique.Hammer,
div#unique.SwordNShield {
    display: none;
}

div#ele.HeavyBowGun {
    grid-area: 13 / 3 / 14 / 6;
    grid-template-columns: repeat(3, 1fr);
}

div#unique.HeavyBowGun {
    grid-area: 13 / 2 / 13 / 2;
}

div#dango.HeavyBowGun {
    grid-area: 11 / 1 / 13 / 6;
    grid-template-columns: repeat(5, 1fr);
}

div#dango.Bow,
div#dango.ChargeBlade {
    grid-area: 11 / 1 / 12 / 4;
}

div#dango.LightBowGun {
    display: grid;
    grid-area: 11 / 1 / 14 / 4;
    grid-template-columns: repeat(3, 1fr);
}

div#dango.Gunlance,
div#dango.SwordNShield,
div#dango.SwitchAxe,
div#dango.HuntingHorn,
div#dango.Hammer {
    grid-area: 11 / 2 / 13 / 5;
    display: grid;
    grid-template-columns: 32.5% 32.5%;
    justify-content: center;
}

div#dango.DualBlades {
    grid-area: 11 / 1 / 13 / 3;
    grid-template-columns: repeat(2, 1fr);
}

div#dango.LongSword {
    grid-area: 11 / 1 / 13 / 3;
    grid-template-columns: repeat(2, 1fr);
}

div#dango.Lance,
div#dango.GreatSword,
div#dango.InsectGlaive {
    grid-area: 11 / 1 / 13 / 3;
    grid-template-columns: 1fr 1fr;
}

div#ele.SwordNShield {
    grid-area: 10 / 3 / 8 / 4;
}

div#ele.Bow,
div#ele.Lance,
div#ele.LongSword,
div#ele.SwitchAxe,
div#ele.LightBowGun,
div#ele.GreatSword {
    grid-area: 11 / 3 / 8 / 4;
}

div#ele.ChargeBlade {
    grid-area: 7 / 3 / 12 / 4;
    align-self: center;
}