@media only screen and (max-width: 780px) {
  body {
    background-position: center;
  }

  body div {
    border: none;
    align-items: baseline;
  }

  div#divComboAttacks {
    grid-area: 3 / 2 / 4 / 3;
    min-width: 5.2rem;
  }


  div#section1 {
    grid-area: 2 / 1 / 3 / 2;

  }


  div#section2 {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    align-self: center;
  }
}

tr,
td,
div,
label {
  font-size: 0.53rem;
}

html {
  min-width: fit-content;
}


div#statsTableDiv {
  grid-area: 1/3/2/6
}

section#section3 {
  display: grid;
  gap: 0.25rem;
  margin-top: 0.25rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

@media only screen and (min-width: 780px) {
  section#section3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  body {
    grid-template-columns: repeat(3, auto);
  }
}

div#section1.contain {

  grid-area: 2 / 1 / 3 / 2;
  display: grid;
}

html div {
  display: grid;
}


div#section1 {
  min-width: max-content;
  grid-template-columns: repeat(5, 1fr);
}

*.contain {
  gap: 0.25rem;
  display: grid;
}

body {
  display: grid;
  color: rgb(229, 237, 240);
  font-size: 0.55rem;
  background-image: url('http://127.0.0.1:5500/background.jpg');
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
  min-width: fit-content;
  border-style: none;
  border-color: rgb(6, 6, 6);
  align-items: start;
  align-content: center;
}

div#divComboAttacks {
  min-width: max-content;
}

div#sharpnessContainer {
  justify-content: start;
  background-color: rgb(10, 10, 10);
  border-style: ridge;
  grid-area: 3 / 2 / 4 / 3;
  column-gap: 0px;
  grid-template-columns: repeat(6, auto);
  width: fit-content;
  border-color: rgb(77, 67, 69);
}

div.sharpness {
  grid-row: 1 / 2;
  color: black;
  padding: 0px;
}

div#blue {
  color: white;
}

div#monContainer.contain {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-items: stretch;
  justify-content: center;
  max-height: 11rem;
  align-items: stretch;
}

.title {
  display: grid;
  grid-area: 1 / 1 / 2 / -1;
  place-items: stretch center;
  place-content: center;
}

.rangedTable>tr>td.a {
  background-color: rgb(11, 11, 42);
  min-width: fit-content;
}

.meleeTable>tr>td.b {
  background-color: rgba(11, 11, 42, 0.792);
  font-size: 0.6rem;
}

input.inputs,
input#inputComboRepeat {
  background-color: rgba(211, 211, 211, 0.37);
  color: rgb(6, 6, 24);
  font-size: 0.6rem;
  font-weight: bold;
}

#ammoTable {
  display: inline-block;
  overflow: hidden scroll;
  max-height: 350px;
  border-style: none;
  gap: 0;
}

tbody.dpsBody>tr>td:nth-child(2) {
  width: 8rem;
}

tbody.meleeTable>tr>td#b0 {
  width: 8rem;
}

tbody#dpsBody.meleeTable>tr {
  height: 27px;
}

#forButtons {
  gap: .25rem;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

div#forButtonSelect {
  gap: .25rem;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-area: 2/1/3/4
}

#forButtonSelect>div:nth-child(1) {
  grid-area: 1/1/2/2
}

#forButtonSelect>div:nth-child(2) {
  grid-area: 1/2/2/3
}

#dpsTable {
  border: none;
  overflow: hidden scroll;
  grid-column: 1 / 3/ 2/ 4;
  min-width: fit-content;
  border-spacing: 0px;
  display: table-caption;
  max-height: 332px;
}

tr>td:nth-child(1) {
  width: fit-content;
  /* padding-left: 0.25rem; */
}

#dpsHead>tr>th:nth-child(1) {
  width: max-content;
}

tr>th {
  top: 0px;
  position: sticky;
  font-size: 0.6rem;
  border-style: outset;
  background-color: rgba(11, 11, 42, 0.796);
  border-spacing: 0px;
  min-width: fit-content;
  width: 3rem;
  min-height: 1.2rem;
}

table#ammoTable {
  gap: 0;
}

table#ammoTable * {
  width: max-content;
  border-spacing: 0px;
  gap: 0px;
  border: none;
  margin: 0px;
  padding: 0px;
}

output.comboAttack {
  border-color: rgb(77, 67, 69);
  border-style: ridge;
  border-width: 0.07rem;
  border-collapse: collapse;
  background-color: rgba(11, 11, 42, 0.796);
}

#ammoChange {
  grid-column: 3 / 4;
}

button#Butterflame {
  grid-area: 5 / 2 / auto / auto;
}

button#Palico\ Affinity {
  grid-area: 3 / 3 / auto / auto;
}

button#WaterBlight {
  grid-area: 5 / 3 / auto / auto;
}

button#Demon\ Seed {
  grid-area: 2 / 2 / auto / auto;
}

button#Power\ Charm {
  grid-area: 5 / 1 / auto / auto;
}

button#DemonAmmo {
  grid-area: 4 / 3 / auto / auto;
}

button#MegaDemonDrug {
  grid-area: 3 / 1 / 4 / 2;
}

button#huntingHornAffinity {
  grid-area: 3 / 4 / auto / auto;
}

button#huntingHornElemental {
  grid-area: 4 / 4 / auto / auto;
}

button#huntingHornAttack {
  grid-area: 2 / 4 / auto / auto;
}

button#sleepWakeUp {
  grid-area: 5 / 4 / auto / auto;
}

button#palicoAffinity {
  grid-area: 3 / 3 / auto / auto;
}

button#Demon\ Seed {
  grid-area: 2 / 2 / auto / auto;
}

button#Demon\ Powder {
  grid-area: 3 / 2 / auto / auto;
}

button#DemonDrug {
  grid-area: 2 / 1 / 3 / 2;
}

button#Power\ Talisman {
  grid-area: 4 / 1 / 5 / 2;
}

button {
  background-color: rgb(0, 14, 94);
  font-weight: 600;
  font-size: 0.55rem;
}

button.skillButton:hover {
  background-color: black;
}



#monTable {
  border: none;
  overflow: hidden scroll;
  display: table-cell;
  border-spacing: 0px;
  height: 6.25;
}

#section3>div:nth-child(2) {
  grid-area: 2 / 1 / 2 / 2;
}

tr:nth-child(2n) {
  background-color: rgba(77, 58, 58, 0.67);
}

tr:nth-child(2n + 1) {
  background-color: rgba(77, 83, 126, 67%);
}

.rangedTable td:nth-child(1) {
  background-color: rgb(11, 11, 42);
}

.rangedTable th:nth-child(n + 1) {
  background-color: rgb(11, 11, 42);
  min-width: fit-content;
  max-width: 2rem;
}

table#statsTable {
  gap: 0;
  border-spacing: 0;
}


#statsTable>tr:nth-child(n + 2)>td:nth-child(1) {
  border-style: outset;
  background-color: rgb(7, 4, 69);
  min-width: fit-content;
}

#monTable>tr:nth-child(1)>th:nth-child(1) {
  min-width: fit-content;
}

td.a {
  padding: 0;
}

output {
  width: 100%;
  height: 100%;
  background-color: rgba(5, 3, 39, 0.373);
  border-style: outset;
  border-width: .15rem;
  border-left: 0;
  align-items: center;
}

td {
  color: rgb(171, 217, 238);
  border-style: outset;
  font-weight: bold;
}

.a.rangedTable {
  border-style: outset;
  background-color: rgb(11, 11, 42);
  font-size: 0.6rem;
}

.b.meleeTable {
  border-style: outset;
  background-color: rgb(11, 11, 42);
  font-size: 0.6rem;
}

div#statsTableDiv>table#statsTable>tbody#statsBody>tr>td:first-child {
  border-style: outset;
  background-color: rgb(11, 11, 42);
  height: 1.25rem;
}

body div {
  display: grid;
  align-items: baseline;
}

* {
  font-family: Play, sans-serif;
  text-align: center;
  border-color: rgb(77, 67, 69);
  color: rgb(171, 217, 238);
  box-sizing: border-box;
  min-width: min-content;
}

#monTable>tr:nth-child(1) {
  position: sticky;
  top: 0px;
  min-width: fit-content;
}

#raw>div:nth-child(4) {
  grid-area: 2 / 2 / auto / auto;
}

.inputs {
  color: midnightblue;
  background-color: rgba(27, 25, 94, 0.71);
  font-weight: bold;
}

#raw>div:nth-child(19) {
  grid-column: 4 / auto;
}

#raw>div:nth-child(20) {
  grid-column: 5 / auto;
}

table#monTable {
  border-color: rgb(77, 67, 69);
  margin: 0px;
  grid-area: 4 / 1 / auto / -1;
  height: 6.3rem;
  font-weight: bold;
}

#boxes>div:nth-child(n + 1) {
  display: grid;
  gap: 0.25rem;
}

#ele>div:nth-child(3) {
  grid-area: 3 / 1 / auto / 3;
  display: grid;
  align-content: center;
}

#ele>div:nth-child(3)>label {
  display: grid;
  grid-column: 1 / 3;
}

label.row1_span2 {
  width: 100%;
  grid-area: 1 / 1 / 2 / 3;
}

div#divEnrage {
  display: grid;
  grid-area: 2 / 5 / auto / 5;
  align-items: center;
  align-content: center;
  margin: 0px;
  gap: 0px;
}

#monContainer>div>div:nth-child(2) {
  grid-column: 3 / auto;
}

#monContainer>div:nth-child(2) {
  display: grid;
  grid-area: 3 / 2 / auto / 3;
  justify-content: center;
}

select#dropEnraged {
  grid-area: 2 / 1 / 3 / 2;
  border-right: 0px;
}

div#forButtons {
  grid-area: 1 / 1 / 2 / 2;
  border: none;
}

div#aff.contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-style: none;
  grid-area: 5/ 1 / 6 / 3;
}

div#ele.contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: 5 / 4 / 6 / 6;
  justify-content: end;
}

#weaponSelect>div:nth-child(4)>div>div:nth-child(3) {
  grid-column: 2 / 2;
}

#weaponSelect>div:nth-child(4) {
  grid-column: 1 / -1;
  display: grid;
  margin: 0px;
}

#weaponSelect>div:nth-child(6) {
  grid-column: 1 / -1;
}

#weaponSelect>div:nth-child(5) {
  grid-column: 1 / -1;
  margin: 0px;
}

#weaponSelect>div:nth-child(3) {
  grid-column: 1 / -1;
}

#weaponSelect>div:nth-child(2) {
  grid-column: 1 / -1;
}

#raw>div:nth-child(14) {
  grid-area: 2 / 3 / auto / auto;
}

#monContainer>div:nth-child(4) {
  grid-area: 3 / 4 / 4 / 5;
}

div#weaponSelect.contain {
  grid-area: 1 / 1 / 3 / 3;
  justify-items: stretch;
}

#monContainer>div:nth-child(5) {
  grid-area: 3 / 5 / auto / 6;
}

#monContainer>div:nth-child(3) {
  grid-area: 3 / 3 / auto / 4;
  margin: 0px;
}

#MonsterSelect>div>div:nth-child(1) {
  display: grid;
  grid-column: 1 / auto;
}

div#red {
  color: white;
  font-weight: bold;
}

div#green {
  color: white;
  font-weight: bold;
}

select {
  font-size: 0.6rem;
}

select option {
  background-color: rgb(5, 5, 35);
  border-style: none;
  min-width: max-content;
  font-size: 0.55rem;
}

div#raw.contain {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(5, 1fr);
  grid-area: 4 / 1 / 5 / 6;
  border-style: none;
  padding: 0%;
}

div#boxes.contain {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-area: 3 / 1 / 4 / 6;
}

#dpsTable {
  min-width: fit-content;
}

#enrageDisplay {
  background-color: rgba(11, 11, 42, 0.38);
  border-style: outset;
}

h1 {
  font-size: 0.8rem;
  margin: 0.25rem 0 0.25rem 0;
  grid-area: 1 / 1 / 2 / -1;
  background-color: rgba(0, 14, 94, 0.627);
  border-style: outset;
  color: rgb(243, 246, 247);
}

.sharpnessDropdown {
  display: none;
}

select {
  background-color: rgba(5, 3, 39, 0.373);
  border-style: outset;
  border-width: .15rem;
}

select#dropMonster {
  position: sticky;
  display: grid;
  top: 0px;
  margin: 0px;

  min-width: fit-content;
  place-content: center;
  height: 1.1rem;
  justify-items: center;
  justify-content: center;
}

select#Elder_Essence {
  grid-column: 1 / 3;
  border-right: 0;
}

label {
  font-weight: bold;
  min-width: max-content;
  border-style: outset;
  border-width: .15rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  background-color: rgba(12, 26, 105, 0.85);
}

#weaponSelect>div:nth-child(4)>label {
  grid-column: 1 / -1;
}

#boxes>label:nth-child(7) {
  grid-area: l / l / l / l;
}

#MonsterSelect>label:nth-child(5) {
  grid-area: 4 / 1 / auto / -1;
}

parent#shieldChargeIMPid {
  grid-column: 2 / 3;
}

div#unique {

  display: grid;
  height: fit-content;

  border: none;
}

#monTable td:nth-child(1) {
  border-style: outset;
  background-color: rgba(11, 11, 42, 0.686);
}

.S:nth-child(n + 2):nth-child(n-4) {
  background-color: darkorange;
  color: rgb(0, 0, 0);
}

.A:nth-child(n + 2),
.A:nth-child(n-4) {
  background-color: rgb(255, 153, 0);
  color: rgb(44, 44, 44);
}

.B:nth-child(n + 2),
.B:nth-child(n-4) {
  background-color: rgb(212, 153, 117);
  color: rgb(94, 94, 94);
}

.C:nth-child(n + 2),
.C:nth-child(n-4) {
  background-color: rgb(243, 156, 128);
  color: rgb(134, 134, 134);
}

.F:nth-child(n + 2),
.F:nth-child(n-4) {
  background-color: rgb(222, 170, 152);
  color: rgb(162, 162, 162);
}

.B:nth-child(5) {
  background-color: firebrick;
  color: rgb(252, 252, 252);
}

.C:nth-child(5) {
  background-color: rgb(237, 59, 59);
  color: rgb(190, 190, 190);
}

.F:nth-child(5) {
  background-color: rgb(237, 59, 59);
  color: rgb(94, 94, 94);
}

.B:nth-child(6) {
  background-color: blue;
  color: rgb(248, 248, 248);
}

.C:nth-child(6) {
  background-color: rgb(0, 64, 255);
  color: rgb(168, 168, 168);
}

.F:nth-child(6) {
  background-color: rgb(0, 89, 255);
  color: rgb(48, 48, 48);
}

.B:nth-child(7) {
  background-color: gold;
  color: rgb(7, 7, 7);
}

.C:nth-child(7) {
  background-color: yellow;
  color: rgb(23, 22, 22);
}

.F:nth-child(7) {
  background-color: lightgoldenrodyellow;
  color: rgb(94, 94, 94);
}

.B:nth-child(8) {
  background-color: rgb(63, 165, 205);
  color: rgb(0, 0, 0);
}

.C:nth-child(8) {
  background-color: rgb(111, 189, 220);
  color: rgb(23, 22, 22);
}

.F:nth-child(8) {
  background-color: lightskyblue;
  color: rgb(94, 94, 94);
}

.B:nth-child(9) {
  background-color: purple;
  color: rgb(0, 0, 0);
}

.C:nth-child(9) {
  background-color: darkviolet;
  color: rgb(23, 22, 22);
}

.F:nth-child(9) {
  background-color: violet;
  color: rgb(94, 94, 94);
}

select#weaponRampage0 {
  grid-column: 1 / auto;
}

select#weaponRampage1 {
  grid-column: 2 / 3;
}

select#weaponRampage2 {
  grid-column: 1 / auto;
}

select#weaponRampage3 {
  grid-column: 2 / 3;
}

select#weaponRampage4 {
  grid-column: 1 / auto;
}

select#weaponRampage5 {
  grid-column: 2 / 3;
}

@media only screen and (min-width: 900px) {
  div#forButtons button {
    min-width: max-content;
  }
}
